<div class="wrapper">
  <div class="success" *ngIf="success">
    <div class="success-text">Pomyślnie utworzono zestaw</div>
  </div>
  <div class="create-set-container">
    <h1>Utwórz zestaw</h1>
    <br />

    <form ngNativeValidate action="/" method="post" #addSetFrom="ngForm" (ngSubmit)="addSet(addSetFrom.value)">
      <div class="inputs">
        <input class="input-control" placeholder="Wpisz nazwę zestawu" type="text" name="title" class="set-title"
          ngModel required />
        <select name="level" class="set-level" ngModel required>
          <option value="" disabled selected>Wybierz poziom</option>
          <option>Liceum</option>
        </select>
        <select name="subject" class="set-subject" ngModel required>
          <option value="" disabled selected>Wybierz przedmiot</option>
          <option>Język angielski</option>
        </select>
      </div>
      <div class="add-csv-warapper">
        <!-- <span>Wybierz plik CSV aby wgrać z niego fiszki</span> -->
        <label class="uploader-style" for="upload-csv">
          <span>Wybierz plik CSV aby wgrać z niego fiszki</span>
          <img class="img-conteiner-csv" src="../../assets/Add Set/csv-icon.png" alt="file upload">
          <input #inputFile type="file" accept=".csv" (change)="setFile($event)" id="upload-csv">
        </label>
      </div>
      <div class="add-csv-btn-warapper">
        <button class="btn btn-primary" (click)="sendFile()" [disabled]="!selectedFiles">Dodaj plik</button>
        <button class="btn btn-primary" (click)="removeCSV()" [disabled]="!selectedFiles">Usuń plik</button>
      </div>
      <br />
      <table class="add-flashcards-table">
        <tbody class="table-style" [style.--bColor]="bColorVar">
          <tr class="flashcards-row">
            <!-- <td>
              <label class="uploader-style" for="upload-img">
                <img class="img-conteiner-csv" src="../../assets/Add Set/img-icon.png" alt="file upload">
              </label>
              <input class="flashcards-input" type="file" accept="image/png, image/jpeg" id="upload-img"
                [(ngModel)]="newRow.image" name="newFlashcardImage" />
            </td> -->
            <div class="input-flashcards">
              <td>
                <input class="flashcards-input input-control" type="text" id="newFlashcardLeft"
                  [(ngModel)]="newRow.left" name="newFlashcardLeft" />
              </td>
              <td>
                <input class="flashcards-input input-control" type="text" id="newFlashcardRight"
                  [(ngModel)]="newRow.right" name="newFlashcardRight" />
              </td>
            </div>
            <td>
              <button class="btn btn-primary" type="button" (click)="addRowToSet()"><i
                  class="fa fa-plus"></i></button>
            </td>
          </tr>
          <tr *ngFor="let flashcard of flashcardsSet; let i = index" class="flashcards-row">
            <div class="input-flashcards">
              <td>
                <input [(ngModel)]="flashcard.left" class="flashcards-input input-control" type="text"
                  name="l-{{flashcard.left}}" required />
              </td>
              <td>
                <input [(ngModel)]="flashcard.right" class="flashcards-input input-control" type="text"
                  name="r-{{flashcard.right}}" required />
              </td>
            </div>
            <td>
              <button class="btn btn-primary delete-btn" type="button" (click)="deleteFieldValue(i)"><i
                  class="fa fa-times"></i></button>
            </td>
          </tr>
        </tbody>
      </table>
      <button class="button-create  btn btn-primary" type="submit">Dodaj zestaw</button>
    </form>
  </div>
</div>