.wrapper {
    width: 100%;
    padding: 30px;
    min-height: 100%;
    margin-bottom: 40px;
    background-color: #E8AEB7;
    position: relative;

    .success {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .success-text {
            text-align: center;
            color: #5BB745;
            background-color: white;
            font-size: 50px;
            padding: 25px;
        }
    }
}

.create-set-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-bottom: 40px;
    background-color: #E8AEB7;
    flex-direction: column;
}

.set-name {
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;
    gap: 54px;

    /* White */

    background: #FFFFFF;
    border: 1.5px solid #ADADAD;
    border-radius: 12px;
}

.inputs {
    display: flex;
    justify-content: space-around;

    input {
        margin: 15px;
    }

    select {
        margin: 15px;
    }
}

.flashcards-row {
    display: flex;
    justify-content: space-around;
}

.add-flashcards-table {
    width: 100%;
}

tr {
    margin: 15px;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    div {
        width: 100%;
    }
}