<div class="sets-container">
  <h1 class="title">{{ classInfo.level }}</h1>

  <div class="buttons-wrapper">
    <button class="btn btn-primary spacer" routerLink="/create-set">
      Dodaj nowy zestaw
    </button>
    <button class="btn btn-primary">Ranking</button>
  </div>

  <div class="set-wrapper">
    <div
      *ngFor="let set of allSets"
      class="card-wrapper"
      (click)="navigateToSet(set?.id)"
    >
      <div class="card">
        <h3 class="card-title">{{ set.name }}</h3>
      </div>
    </div>
  </div>
</div>
