<div class="sets-container">
  <h1 class="title">{{level}}</h1>

  <div class="buttons-wrapper">
    <button class="btn btn-primary spacer" (click)="addNewSet()">Dodaj nowy zestaw</button>
    <button class="btn btn-primary" (click)="stats()">Statystyki</button>
  </div>

  <div class="set-wrapper">
    <div *ngFor="let set of allSets" class="card-wrapper">
      <div class="card">
        <button *ngIf="isTeacherRole" class="card-icon">
          <i class="fa fa-check" aria-hidden="true"></i>
        </button>
        <h3 class="card-title">{{set.name}}</h3>
      </div>
    </div>
  </div>
</div>
