<div class="sets-container">
  <h1 class="title">{{ classInfo?.name }}</h1>
  <fieldset *ngFor="let task of tasks">
    <legend>Zadanie domowe</legend>
    <span class="task">{{ task.task }}</span>
    <span class="task-date"> {{ this.formatDate(task.finishDate) }}</span>
    <img
      *ngIf="isTeacherRole"
      src="assets/ClassInfo/Delete.png"
      (click)="deleteTask(task.id)"
    />
  </fieldset>

  <div class="set-wrapper">
    <div
      *ngFor="let set of allSets"
      class="card-wrapper"
      (click)="navigateToSet(set?.id)"
    >
      <div class="card">
        <h3 class="card-title">{{ set.name }}</h3>
      </div>
    </div>
  </div>
</div>
