.sets-container {
  width: 100%;

  .form {
    margin: 0 auto 55px;
    max-width: 600px;
  }

  .form-wrapper {
    display: flex;
    justify-content: space-between;

    input, select {
      max-width: 170px;
    }
  }

  .text-gray {
    color: #998C8C;
    font-size: 20px;
  }

  .form-wrapper-login {
    display: flex;
    align-items: center;
    justify-content: center;

    input {
      max-width: 170px;
    }

    .add-login {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #4590F7;
      color: white;
      width: 38px;
      height: 38px;
      border-radius: 50px;
      cursor: pointer;
      margin-left: 15px;
    }
  }

  .list {
    list-style: none;
    padding: 0;

    .list-item {
      display: flex;
      background-color: #e3f1ff;
      font-size: 20px;
      font-weight: 600;
      border-radius: 10px;
      margin-bottom: 8px;
      padding: 0.75rem;

      .item-number {
        margin-right: 30px;

        p {
          padding: 10px;
          border-radius: 50%;
          margin: 0;
          width: 40px;
          height: 40px;
          text-align: center;
          line-height: 0.85;
        }
      }

      .item-name {
        flex-grow: 1;
        display: flex;
        align-items: center;
      }

      .item-delete {
        display: flex;
        align-items: center;
        margin-right: 10px;
        cursor: pointer;

        img {
          height: 20px;
          margin-left: 5px;
        }
      }
    }
  }

  .button-wrapper {
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }
}
