<div class="sets-container">
  <form
    ngNativeValidate
    action="/"
    method="post"
    #addClassForm="ngForm"
    (ngSubmit)="addClassroom(addClassForm.value)"
    class="form"
  >
    <div class="form-wrapper">
      <input
        name="classname"
        class="form-control pwd-control"
        placeholder="Podaj nazwę klasy"
        ngModel
        required
      />

      <select name="level" class="form-control" ngModel required>
        <option value="" disabled selected>Wybierz poziom</option>
        <option>Szkoła podstawowa</option>
        <option>Technikum</option>
        <option>Liceum</option>
        <option>Inny</option>
      </select>
    </div>

    <div class="my-5 text-center">
      <p class="text-gray">Wpisz login ucznia aby dodać go do klasy.</p>
      <div class="form-wrapper-login">
        <input
          name="class-student-login"
          class="form-control pwd-control"
          placeholder="Wpisz login"
          type="text"
          [(ngModel)]="newRow"
        />

        <div class="add-login" (click)="addStudentToSet()">
          <i class="fa fa-plus" aria-hidden="true" title="Dodaj login"></i>
        </div>
      </div>
    </div>

    <ul class="list">
      <li *ngFor="let student of studentsSet; let i = index" class="list-item">
        <div class="item-number">
          <p>
            {{ i + 1 }}
          </p>
        </div>
        <div class="item-name">
          {{ student }}
        </div>
        <div class="item-delete" (click)="deleteValue(i)">
          <img src="assets/ClassInfo/Delete.png" />
        </div>
      </li>
    </ul>

    <div class="button-wrapper">
      <button class="btn btn-primary" type="submit">Utwórz klasę</button>
    </div>
  </form>
</div>
