<div class="container-fluid">
  <div class="title">Test ABCD</div>
  <div *ngFor="let item of test; let i = index" class="single-question">
    <div class="text">{{ item.first_side }}</div>
    <hr class="line" />
    <div class="buttons">
      <button
        *ngFor="let answer of item.answers; let ianswer = index"
        class="abcd-button"
        (click)="isCorrect(i, answer)"
        [style.background]="changeColor(i, answer)"
        [style.pointerEvents]="item.checked ? 'none' : ''"
      >
        {{ answer }}
      </button>
    </div>
  </div>
  <div class="exit">
    <button class="btn btn-primary btn-exit" [routerLink]="['/set-menu', id]">
      Zakończ
    </button>
  </div>
</div>
