.flashcard-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icon {
    font-size: 50px;
    cursor: pointer;
}

.flashcard-image {
    max-height: 300px;
}

.flashcard {
    width: 903px;
    height: 547px;
    background: #BDDCFF;
    border-radius: 15px;
    font-size: 50px;
    cursor: pointer;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */

    div {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .flashcard-inside{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    }

    .flashcard-image-container{
        max-width: 50%;
    }

    .flashcard-text{
        max-width: 50%;
    }
}