<div class="edit"><button class="btn btn-primary" [routerLink]="['/set', id]">Edytuj zestaw</button></div>
<div class="name center">
    {{setName}}
</div>
<div class="center">
    Wybierz formę nauki:
</div>
<div class="center">
    <div class="option center">
        <button class=" btn btn-primary" [routerLink]="['/set-preview', id]">Przeglądanie</button>
    </div>

    <div class="option center">
        <button class=" btn btn-primary" [routerLink]="['/test-true-false', id]">Prawda/fałsz</button>
    </div>

    <div class="option center">
        <button class=" btn btn-primary" [routerLink]="['/test-abcd', id]">Test abcd</button>
    </div>
</div>