<div class="sets-container">
  <h1 class="title">
    <span>Informacje ogólne</span>
    <i
      *ngIf="!editModeGeneralInfo"
      class="toogleEdit fa fa-pencil"
      aria-hidden="true"
      title="Edytuj informacje"
      (click)="toogleEditModeGeneralInfo()"
    ></i>
    <i
      *ngIf="editModeGeneralInfo"
      class="confirmEdit fa fa-check"
      aria-hidden="true"
      title="Potwierdź"
      (click)="editGeneralInfo()"
    >
    </i>
  </h1>

  <table class="table">
    <tr>
      <td>Nazwa klasy</td>
      <td *ngIf="!editModeGeneralInfo">{{ classInfo?.name }}</td>
      <td *ngIf="editModeGeneralInfo">
        <input name="classname" type="text" [(ngModel)]="editClassName" />
      </td>
    </tr>
    <tr>
      <td>Poziom</td>
      <td *ngIf="!editModeGeneralInfo">{{ classInfo?.level }}</td>
      <td *ngIf="editModeGeneralInfo">
        <input name="level" type="text" [(ngModel)]="editClassLevel" />
      </td>
    </tr>
    <tr>
      <td>Nauczyciel</td>
      <td>{{ classInfo?.first_name }} {{ classInfo?.last_name }}</td>
    </tr>
  </table>

  <h1 class="title">
    <span>Lista uczniów</span>
    <i
      *ngIf="!editModeStudentsList"
      class="toogleEdit fa fa-pencil"
      aria-hidden="true"
      title="Edytuj informacje"
      (click)="toogleEditModeStudentsList()"
    ></i>
    <i
      *ngIf="editModeStudentsList"
      class="confirmEdit fa fa-check"
      aria-hidden="true"
      title="Potwierdź"
      (click)="editStudentsList()"
    >
    </i>
  </h1>
  <div>
    <i *ngIf="editModeStudentsList" class="add-student">Dodaj ucznia</i>
  </div>

  <ul class="list">
    <li *ngFor="let student of studentsList; let i = index" class="list-item">
      <div class="item-number">
        <p>
          {{ i + 1 }}
        </p>
      </div>
      <div class="item-name">
        {{ student.first_name }} {{ student.last_name }}
      </div>
      <div *ngIf="editModeStudentsList">
        <img src="assets/ClassInfo/Delete.png" />
      </div>
    </li>
  </ul>
</div>
