.sets-container {
  width: 100%;

  .title {
    font-family: "Poppins", sans-serif;
    font-size: 36px;
    color: rgba(0, 0, 0, 0.87);
    margin-bottom: 35px;
  }

  .select-class {
    width: 300px;
    margin-bottom: 50px;
  }

  .task-input {
    width: 700px;
    height: 300px;
    padding: 5px;
    border: 1px solid #998c8c;
    border-radius: 8px;
    font-size: 20px;
    word-wrap: break-word;
  }

  .date-text {
    margin-right: 15px;
    font-size: 18px;
  }

  .form-date {
    margin-bottom: 30px;
  }

  .button-wrapper {
    margin-top: 45px;
    display: flex;
  }
}
