<div class="sets-container">
  <h1 class="title">Informacje ogólne</h1>

  <table class="table">
    <tr>
      <td>Nazwa klasy</td>
      <td></td>
    </tr>
    <tr>
      <td>Opis klasy</td>
      <td></td>
    </tr>
    <tr>
      <td>Poziom</td>
      <td></td>
    </tr>
  </table>

  <h1 class="title">
    <img src="assets/ClassInfo/Stars.png"/>
    <span>Ranking</span>
  </h1>

  <ul class="list">
    <li *ngFor="let set of allSets; let i = index" class="list-item">
      <div class="item-number">
        <p>
          {{i + 1}}
        </p>
      </div>
      <div class="item-name">
        {{set.name}}
      </div>
      <div class="item-points">
        <div class="item-amount">
          {{set.stars}}
        </div>
        <img class="item-star" src="assets/ClassInfo/Star.png"/>
      </div>
    </li>
  </ul>
</div>
