@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins:wght@300;400&display=swap');

body{
    margin: 0;
    padding: 0;
}


.container {
    display: flex;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    height: 750px;
}

.left-section{
    background-color: aqua;
    width: 60%;
    justify-content: center;
    display: contents;
}

.main-image {
    float:right;
    height:auto;
    /* display: contents; */
    width: 984px;

    background-image: url("../../assets/Login/login-main.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.right-section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 100%;
    background-color: #009ADE;
}

.login-wrapper{
    width: 80%;
    height: 100%;
}

.login-section {
    width: 70%;
    height: 80%;
    margin: auto;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 60px;
}

.login-section{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}


.adas{
    display: flex;
    justify-content: space-between;
}


.input-label{
    display: block;
}

.form-control{
    width: 100%;
    box-sizing: border-box;
    height: 45px;
    font-size: 16px;
}

.login-header{
    font-size: 40px;
    margin-top: 105px;
}
