<div class="container-fluid">
  <div class="left-section">
    <div class="main-image">
    </div>
  </div>
  <div class="right-section">
    <div class="login-section">
      <div class="login-wrapper">
        <a routerLink="/register">Sign Up</a>
        <h2 class="login-header">LOG IN TO</h2>
        <form *ngIf="!isLoggedIn" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
          <div class="login-input">
            <label class="input-label" for="login">Login</label>
            <input type="text" class="form-control" name="login" [(ngModel)]="form.login" required #login="ngModel" (click)="resetOnSubmit()" />
            <div class="alert alert-danger" role="alert" *ngIf="login.errors">
              Login is required!
            </div>
          </div>
          <div class="password-input">
            <label class="input-label" for="password">Password</label>
            <input type="password" class="form-control" name="password" [(ngModel)]="form.password" required #password="ngModel" (click)="resetOnSubmit()" />
            <div class="alert alert-danger" role="alert" *ngIf="password.errors">
              <div *ngIf="password.errors.required">Password is required</div>
              <div *ngIf="password.errors.minlength">
                Password must be at least 6 characters
              </div>
            </div>
          </div>
          <button class="btn btn-primary btn-block">Login</button>
            <div class="alert alert-danger" role="alert" *ngIf="submitPressed && isLoginFailed">
              {{ getError() }}
            </div>
          
        </form>
        <div class="alert alert-success" *ngIf="isLoggedIn">
          Logged in as {{ roles }}.
        </div>
      </div>
    </div>
  </div>
</div>