<div class="container-fluid">
  <head>
    <link
      rel="stylesheet"
      type="text/css"
      href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
    />
  </head>
  <img src="assets/Login/login3.svg" />
  <div class="login-section">
    <div class="login-wrapper">
      <a>Nie masz konta? </a>
      <a routerLink="/register">Zarejestruj się!</a>
      <h2 class="login-header">ZALOGUJ SIĘ</h2>
      <form
        *ngIf="!isLoggedIn"
        name="form"
        (ngSubmit)="f.form.valid && onSubmit()"
        #f="ngForm"
        novalidate
      >
        <div class="login-input">
          <label class="input-label" for="login">Login</label>
          <input
            type="text"
            class="form-control"
            name="login"
            [(ngModel)]="form.login"
            required
            #login="ngModel"
            (click)="resetOnSubmit()"
          />
          <div
            class="alert alert-danger"
            role="alert"
            *ngIf="login.errors && f.submitted"
          >
            Login jest wymagany!
          </div>
        </div>
        <div class="password-input">
          <label class="input-label" for="password">Hasło</label>
          <div class="input-group">
            <input
              [type]="showPassword ? 'text' : 'password'"
              class="form-control"
              name="password"
              [(ngModel)]="form.password"
              required
              #password="ngModel"
              (click)="resetOnSubmit()"
            />
            <div>
              <i
                alt="show"
                class="far fa-eye eye-show"
                (click)="showPassword = !showPassword"
                [class.hide]="showPassword"
              ></i>
              <i
                alt="hide"
                class="far fa-eye-slash eye-hide"
                (click)="showPassword = !showPassword"
                [class.hide]="!showPassword"
              ></i>
            </div>
            <div
              class="alert alert-danger"
              role="alert"
              *ngIf="password.errors && f.submitted"
            >
              <div *ngIf="password.errors.required">Hasło jest wymagane!</div>
              <div *ngIf="password.errors.minlength">
                Hasło musi mieć minimum 6 znaków
              </div>
            </div>
          </div>
        </div>
        <button class="btn btn-primary btn-block">Zaloguj się</button>
        <div
          class="alert alert-danger"
          role="alert"
          *ngIf="submitPressed && isLoginFailed"
        >
          {{ getError() }}
        </div>
      </form>
      <div class="alert alert-success" *ngIf="isLoggedIn">
        Zalogowany jako {{ roles }}.
      </div>
    </div>
  </div>
</div>
