<div class="sets-container">
  <h1 class="title">Statystyki</h1>

  <table class="table">
    <tr>
      <td>Procent poprawnych odpowiedzi</td>
      <td>{{ correctAnswers }} %</td>
    </tr>
  </table>

  <table class="table">
    <tr>
      <td>Liczba wszystkich zestawów</td>
      <td>{{ numOfSets }}</td>
    </tr>
  </table>

  <table class="table">
    <tr>
      <td>Liczba zdobytych punktów</td>
      <td>
        {{ userPoints }}
        <img class="item-star" src="assets/ClassInfo/Star.png" />
      </td>
    </tr>
  </table>
</div>
