<div class="sets-container">
  <h1 class="title">Statystyki</h1>

  <table class="table">
    <tr>
      <td>Czas nauki</td>
      <td></td>
    </tr>
    <tr>
      <td>Ten tydzień</td>
      <td>...</td>
    </tr>
    <tr>
      <td>Ten miesiąc</td>
      <td>...</td>
    </tr>
    <tr>
      <td>Zeszły miesiąc</td>
      <td>...</td>
    </tr>
  </table>

  <table class="table">
    <tr>
      <td>Liczba wszystkich zestawów</td>
      <td>{{ numOfSets }}</td>
    </tr>
  </table>

  <table class="table">
    <tr>
      <td>Liczba zdobytych punktów</td>
      <td>...</td>
    </tr>
  </table>
</div>
