<div class="sets-container">
  <h1 class="title">Statystyki</h1>

  <table class="table">
    <tr>
      <td>Czas nauki</td>
      <td></td>
    </tr>
    <tr>
      <td>Ten tydzień</td>
      <td>06 h 13 min</td>
    </tr>
    <tr>
      <td>Ten miesiąc</td>
      <td>21 h 9 min</td>
    </tr>
    <tr>
      <td>Zeszły miesiąc</td>
      <td>29 h 42 min</td>
    </tr>
  </table>

  <table class="table">
    <tr>
      <td>Liczba wszystkich zestawów</td>
      <td>11</td>
    </tr>
  </table>

  <table class="table">
    <tr>
      <td>Liczba zdobytych gwiazdek</td>
      <td>7</td>
    </tr>
  </table>
</div>
