.flashcards-container {
    display: flex;
    max-width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;

    .success {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .success-text {
            text-align: center;
            color: #7a1111;
            background-color: white;
            font-size: 50px;
            padding: 25px;
        }
    }

    .name {
        font-size: 50px;
        display: flex;
        align-items: center;
        justify-content: center;

        .icons {
            margin-left: 20px;
            display: flex;
            align-items: center;
            justify-content: center;

            .add-flashcard {
                font-size: 20px;
                display: flex;
                align-items: center;
                background-color: #4590F7;
                color: white;
                height: 50px;
                border-radius: 50px;
                padding-left: 15px;
                cursor: pointer;
                margin: 5px;

            }

            i {
                font-size: 32px;
                margin: 5px;
                background-color: #4590F7;
                display: flex;
                align-items: center;
                justify-content: center;
                color: white;
                width: 50px;
                height: 50px;
                border-radius: 50px;
                cursor: pointer;
            }
        }
    }

    .flashcard-row {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .edit-confirm {
            margin: 5px;
            background-color: #4590F7;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            width: 50px;
            height: 50px;
            border-radius: 50px;
            cursor: pointer;
            border: none;
        }
        
        i {
            font-size: 32px;
            margin: 5px;
            background-color: #4590F7;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            width: 50px;
            height: 50px;
            border-radius: 50px;
            cursor: pointer;
        }


        .flashcard-wrapper {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            flex-basis:1000px;
            justify-content: center;
            align-items: center;
            margin: 20px;
            background-color: rgb(174, 210, 252);
            border-radius: 50px;
            height: 100px;
            

            input {
                background-color: rgb(174, 210, 252);;
            }


            .first-side {
                font-size: 20px;
                text-align: center;
                flex-basis: 33%;
            }

            .flashcard-image {
                max-height: 90px;
            }

            .select-file {
                flex-basis: 33%;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .second-side {
                font-size: 20px;
                text-align: center;
                flex-basis: 33%;
            }

        }
    }
}

:host {
    position: relative;
    min-height: 100%;
    flex-grow: 1;
}

.warning-modal {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}
.warning-modal-overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    z-index: 9;
    opacity: 0.5;
}

.warning-body {
    border-radius: 0.3rem;
    z-index: 11;
    width: 500px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    opacity: 1;

    button {
        margin: 10px;
        font-size: 20px;
        line-height: 20px;
        background-color: #4590F7;
        color: white;
        height: 50px;
        border-radius: 50px;
        border:none;
        padding: 15px;
        cursor: pointer;
    }
}

// 4590F7