<div class="sets-container">
  <h1 class="title">Zestawy SuperStudy</h1>
  <div *ngIf="!isTeacher" class="buttons-wrapper">
    <p>Twoje punkty: {{ this.user.points }}</p>
    <img class="buttons-star" src="assets/ClassInfo/Star.png" />
  </div>

  <div class="set-wrapper">
    <div *ngFor="let set of allSets" class="card-wrapper">
      <div class="card">
        <div class="card-buttons">
          <i class="card-price">{{ set.points }}</i>
          <img class="item-star" src="assets/ClassInfo/Star.png" />
          <button
            class="card-icon"
            (click)="buySet(set?.id)"
            *ngIf="!set.if_bought && !isTeacher"
            title="Kup zestaw"
          >
            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
          </button>
        </div>
        <h3 class="card-title">{{ set.name }}</h3>
      </div>
    </div>
  </div>
</div>
