<div id="app">
  <nav class="navbar navbar-expand navbar-background ">
    <ul class="navbar-nav mr-auto" routerLinkActive="active">
      <a class="navbar-brand text-color "  routerLink="home">
        <img src="../assets/Login/logo-main.png" width="30" height="30" class="d-inline-block align-top" alt="">
        SuperStudy
      </a>
      <!-- <li class="nav-item">
        <a href="/home" class="nav-link" routerLink="home">Home </a>
      </li> -->
      <li class="nav-item" *ngIf="isLoggedIn">
        <a href="/all-sets" class="nav-link" routerLink="all-sets">Wszystkie zestawy</a>
      </li>
      <li class="nav-item" *ngIf="isLoggedIn">
        <a href="/create-set" class="nav-link" routerLink="create-set">Dodaj zestaw</a>
      </li>
      <li class="nav-item" *ngIf="showAdminBoard">
        <a href="/admin" class="nav-link" routerLink="admin">Admin Board</a>
      </li>
      <li class="nav-item" *ngIf="showTeacherBoard">
        <a href="/teacher" class="nav-link" routerLink="teacher">Teacher Board</a>
      </li>
      <li class="nav-item" *ngIf="showUserBoard">
        <a href="/user" class="nav-link" *ngIf="isLoggedIn" routerLink="user"
          >User</a
        >
      </li>
    </ul>
    <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
      <!-- <li class="nav-item">
        <a href="/register" class="nav-link" routerLink="register">Sign Up</a>
      </li> -->
      <li class="nav-item">
        <a href="/login" class="nav-link" routerLink="login">Account</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
      <li class="nav-item">
        <a href="/profile" class="nav-link" routerLink="profile">{{ login }}</a>
      </li>
      <li class="nav-item">
        <a href class="nav-link" (click)="logout()">LogOut</a>
      </li>
    </ul>
  </nav>
  <div class="container-fluid">
    <router-outlet></router-outlet>
  </div>
</div>
