<div id="app">
  <nav class="navbar navbar-expand navbar-background">
    <ul class="navbar-nav mr-auto" routerLinkActive="active">
      <!-- <a class="navbar-brand text-color" routerLink="home"> -->
      <div class="logo">
        <img
          src="../assets/Login/logo-main.png"
          width="30"
          height="30"
          alt=""
        />
        <a class="navbar-brand text-color"> SuperStudy </a>
      </div>
    </ul>
  </nav>
  <mat-sidenav-container>
    <mat-sidenav mode="side" opened *ngIf="isLoggedIn">
      <div class="menu-section">Zestawy</div>
      <div class="menu-items">
        <button mat-button class="menu-button" (click)="open(content)">
          <mat-icon>add</mat-icon>
          <span class="menu-option">Stwórz zestaw</span>
        </button>
        <button mat-button class="menu-button" (click)="moveToSets()">
          <mat-icon>folder_open</mat-icon>
          <span>Wszystkie zestawy</span>
        </button>
        <button mat-button class="menu-button" (click)="moveToSuperStudy()">
          <mat-icon>star_border</mat-icon>
          <span>Zestawy SuperStudy</span>
        </button>
      </div>
      <mat-divider></mat-divider>
      <div class="menu-section">Inne</div>
      <div class="menu-items">
        <button mat-button class="menu-button" (click)="moveToStatistics()">
          <mat-icon>show_chart</mat-icon>
          <span class="menu-option">Statystyki</span>
        </button>
        <button mat-button class="menu-button" (click)="moveToClasses()">
          <mat-icon>school</mat-icon>
          <span>Wszystkie klasy</span>
        </button>
      </div>
      <mat-divider></mat-divider>
      <div class="menu-section">Twoje konto</div>
      <div class="menu-items">
        <button mat-button class="menu-button" (click)="moveToProfile()">
          <mat-icon>person-outline</mat-icon>
          <span>Profil</span>
        </button>
        <button mat-button class="menu-button" (click)="logout()">
          <mat-icon>exit_to_app</mat-icon>
          <span>Wyloguj się</span>
        </button>
      </div>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="container-fluid">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Stwórz nowy zestaw</h4>
    <!-- <button type="button" class="close" 
              aria-label="Close" (click)=
              "modal.dismiss('Cross click')">

          <span aria-hidden="true">
              
          </span>
      </button> -->
    <span class="close" (click)="exit()">&times;</span>
  </div>
  <div class="modal-body">
    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <div class="email-input">
          <label class="input-label" for="email">Podaj nazwę</label>
          <input
            type="email"
            class="form-control"
            name="email"
            [(ngModel)]="name"
          />
        </div>
      </div>
      <div class="form-group">
        <p>Wybierz poziom:</p>
        <select
          class="form-control"
          (change)="selectChangeHandlerLevel($event)"
          name="cars"
          id="cars"
        >
          <option value="Szkoła podstawowa">Szkoła podstawowa</option>
          <option value="Liceum">Liceum</option>
          <option value="Technikum">Technikum</option>
          <option value="Inny">Inny</option>
        </select>
      </div>
      <div class="form-group">
        <p>Wybierz przedmiot:</p>
        <select
          class="form-control"
          (change)="selectChangeHandlerSubject($event)"
        >
          <option value="Język angielski">Język angielski</option>
          <option value="Język niemiecki">Język niemiecki</option>
          <option value="Język hiszpański">Język hiszpański</option>
          <option value="Język francuski">Język francuski</option>
        </select>
      </div>

      <button class="btn btn-primary btn-block">Utwórz</button>
      <div class="form-group">
        <div class="alert alert-warning" *ngIf="SetFailed">
          Błąd: <br />{{ errorMessage }}
        </div>
      </div>
    </form>
  </div>
</ng-template>
