.container-fluid {
    width: 1400px;
    display: flex;
    justify-content: center;
}

.navbar-background {
    background-color: #BDDCFF;
}

.text-color {
    color: black;
    text-decoration-thickness: 2px;
}