@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins:wght@300;400&display=swap');
.container-fluid {
    width: 1400px;
    display: flex;
    justify-content: center;
}

.navbar-background {
    background-color: #BDDCFF;
}

.text-color {
    color: black;
    text-decoration-thickness: 2px;
}
:root {
    font-family: 'Poppins', sans-serif;
}